/*
Style-Sheet for OERs written in LiaScript by the NFDI4Culture Consortium.
Following the design of the 4Culture Guidelines.
*/

h1,
h2,
h3,
h4 {
    /* color: #111111 !important;*/
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.lia-paragraph {
    /* color: #111111 !important; */
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: lighter !important;
}

/*
Lists bullet points
*/
.lia-list--unordered>li::before {
    color: #64bea0;
}

/*
Button Design
*/
button {
    /* Color of the button-text */
    color: #64bea0 !important;
}

/*
Button Design
*/
.lia-btn {
    border-color: #64bea0 !important;
}

/*
Dividing line
*/
.lia-divider {
    background-color: #5c6e6892 !important;
}

/*
Pagination
*/
.lia-pagination__content {
    background-color: transparent !important;
}

/*
Current page number in footer
*/
.lia-pagination__current {
    color: #64bea0 !important;
}

/*
Progress bar, between header and slide
*/
.lia-progress {
    background-color: #64bea0 !important;
}

/*
Links
*/
.lia-link {
    color: #64bea0 !important;
}

/*
Links in der TOC
*/
.lia-toc__link {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    color: #fcfcfc !important;
}

/*
Links in der TOC auf lvl 1
*/
.lia-toc__link--is-lvl-1 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    font-weight: lighter !important;
}

/*
Table of Content
*/
.lia-toc {
    background-color: #111111 !important;
    color: #fcfcfc !important;
    text-decoration-color: purple !important;
}

/*
Actice TOC element
*/
.lia-active {
    color: #fcfcfc !important;
    font-weight: bold !important;
}

.lia-active::before {
    background-color: #64bea0 !important;
}

/*
Quiz "Check answer" button
*/
.lia-quiz__check {
    color: #64bea0 !important;
    border-color: #64bea0 !important;
}

/*
Quiz-Checkbox Design
*/
.lia-checkbox {
    border-color: #64bea0 !important;
    background-color: #82d8bc !important;
}

/*
Quiz-Checkbox Design
*/
.lia-checkbox:after {
    background-color: #82d8bc !important;
}

.lia-radio{
    border-color: #64bea0 !important;
}

/*
Quotes
*/
blockquote.lia-quote {
    /*outline: #111111 !important;
    outline-width: 2px !important;
    border-color: #111111 !important;
    border-bottom-width: 2px !important;
    border-top-width: 2px !important;
    border-left-width: 2px !important;
    border-right-width: 2px !important;*/
    background-color: #dcfff3b7 !important;
    color: #323232 !important;
}